H1 {
  font-family: 'Permanent Marker', cursive;
}

H2 {
  font-family: 'Russo One', sans-serif;
}

H3 {
  font-family: 'Advent Pro', sans-serif;
}

.navbar-brand {
  font-family: 'Advent Pro', sans-serif;
}
